
/* large device responsive start */

@media (min-width: 992px) and (max-width: 1199.98px) { 

    #about header p {
        padding-left: 250px;
        padding-right: 250px;
    }

    #about .about-main .box-right {
        width: 300px;
        right: 9px !important;
        bottom: -237px;
    }
    #about .about-main .box-right::after {
        left: -37px;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-right p {
        line-height: 18px;
    }
    #about .about-main .box-right p::before {
        left: -14px;
        width: 25px;
        height: 25px;
    }

    #about .about-main .box-left {
        width: 300px;
        left: 9px !important;
        bottom: -240px;
    }
    #about .about-main .box-left::after {
        right: -37px;
        top: 47%;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-left p {
        font-size: 15px;
        line-height: 18px;
    }
    #about .about-main .box-left p::before {
        right: -13px;
        width: 25px;
        height: 25px;
    }
    #about .about-main .box-top {
        width: 300px;
        top: 60px;
    }
    #about .about-main .box-top::after {
        bottom: -35px;
        left: 51%;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-top p{
        line-height: 18px;
    }
    #about .about-main .box-top p::before {
        bottom: -14px;
        left: 46%;
        width: 25px;
        height: 25px;
    }
    #about .about-main .box-bottom {
        width: 300px;
        bottom: -499px;
    }
    #about .about-main .box-bottom::after {
        top: -35px;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-bottom p{
        line-height: 18px;
    }
    #about .about-main .box-bottom p::before {
        top: -14px;
        left: 47%;
        width: 25px;
        height: 25px;
    }
    #about .about-main .circle-main {
        width: 260px;
        height: 260px;
    }
    #about .about-main .circle-main .circle-main-pro {
        margin: 14px;
    }
    #about .about-main .circle-main .circle-main-pro img {
        width: 250px;
        height: 229px;
    }
    #service .service-slider .service-item .web-para p {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    #service .service-slider .service-item .web-text-reverse p {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #service .service-slider .service-item .web-para-reverse p {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #service .service-slider .service-item .web-image img {
        padding-left: 35px;
    }
    #service .service-slider .service-item .web-para-reverse p::after {
        right: 38%;
    }
    #service::before {
        top: 185px;
    }
    #service .prev-btn {
        top: 155px;
        left: 49.02%;
    }
    #service .next-btn {
        bottom: 100px;
        left: 49.01%;
    }
    #feedback .feedback-text-slider .feedback-text-slick {
        padding-bottom: 20px;
    }
    #feedback .feedback-text-slider .feedback-text-slick h4 {
        padding-top: 30px;
    }
    #feedback .feedback-text-slider::after {
        height: 25px;
        width: 25px;
        left: -13px;
        top: 73%;
    }
    #feedback .feedback-image-slider .slick-center img {
        transform: scale(1.0);
    }
    #feedback .fbtn1 {
        left: 94px;
    }
    #feedback .fbtn2 {
        left: 95px;
    }
    #pricing .pricing-plan .pricing-rate {
        left: 100px;
    }
    #footer{
        margin-top: 20px;
    }

 }

/* large device responsive ends */


/* medium device responsive start */

@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar button span{
        color: #fec600;
    }
    .navbar-light .navbar-toggler {
        color: #fec600 !important;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        margin-bottom: 11px;
    }
    .navbar .navbar-nav .nav-item{
        background-color: rgba(134, 60, 60, 0.8);
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::before {
        width: 0%;
    }
    .navbar .navbar-nav .nav-item .nav-link.active::before {
        width: 0%;
    }

    #about header p {
        padding-left: 130px;
        padding-right: 130px;
    }
    #about .about-main .box-top {
        width: 210px;
        height: 150px;
        top: 106px;
        left: 49%;
    }
    #about .about-main .box-top::after {
        bottom: -51px;
        left: 56%;
    }
    #about .about-main .box-top h5 {
        font-size: 15px;
        padding-top: 15px;
    }
    #about .about-main .box-top p {
        line-height: 15px;
         font-size: 10px;
    }

    #about .about-main .box-right {
        width: 210px;
        right: 13px;
        height: 150px;
        bottom: -168px;
    }
    #about .about-main .box-right::after {
        top: 56%;
        left: -46px;
    }
    #about .about-main .box-right h5 {
        font-size: 15px;
        padding-top: 15px;
    }
    #about .about-main .box-right p {
        line-height: 15px;
         font-size: 10px;
    }
    #about .about-main .box-left {
        width: 210px;
        left: -26px;
        height: 150px;
        bottom: -168px;
        left: 10px;
    }
    #about .about-main .box-left::after {
        top: 54%;
        right: -48px;
    }
    #about .about-main .box-left h5 {
        font-size: 15px;
        padding-top: 15px;
    }
    #about .about-main .box-left p {
        line-height: 15px;
        font-size: 10px;
    }
    #about .about-main .box-bottom {
        width: 210px;
        height: 150px;
        bottom: -368px;
        left: 49%;
    }
    #about .about-main .box-bottom::after {
        top: -50px;
        left: 56%;
        
    }
    #about .about-main .box-bottom h5 {
        font-size: 15px;
        padding-top: 15px;
    }
    #about .about-main .box-bottom p {
        line-height: 15px;
         font-size: 10px;
    }
    #about .about-main .circle-main {
        width: 175px;
        height: 175px;
    }
    #about .about-main .circle-main .circle-main-pro {
        margin: 8px;
    }
    #about .about-main .circle-main .circle-main-pro img {
        height: 156px;
    }
    #portfolio {
        clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
    }
    #service::before {
        top: 208px;
        height: 530px;
    }
    #service .service-slider {
        padding: 80px 0;
    }
    #service .service-slider .service-item .web-text h5 {
        padding-top: 57px;
    }
    #service .service-slider .service-item .web-para p {
        padding: 20px 20px;
        font-size: 11px;
    }
    #service .service-slider .service-item .web-para p::after {
        left: -10px;
        width: 20px;
        height: 20px;
    }
    #service .service-slider .service-item .web-text-reverse p {
        padding: 20px 20px;
        font-size: 11px;
    }
    #service .service-slider .service-item .web-text-reverse p::after {
        right: -10px;
        width: 20px;
        height: 20px;
    }
    #service .service-slider .service-item .web-text-reverse h5 {
        padding-top: 57px;
    }
    #service .service-slider .service-item .web-para-reverse h5 {
        padding-top: 61px;
    }
    #service .service-slider .service-item .web-para-reverse p {
        padding: 20px 20px;
    }
    #service .service-slider .service-item .web-para-reverse p::after {
        width: 20px;
        height: 20px;
        top: 49%;
        right: 38%;
    }
    #service .service-slider .service-item .web-image img {
        padding-top: 32px;
        padding-left: 16px;
    }
    body {
        font-size: 11px;
        line-height: 15px;
    }
    #service .prev-btn {
        top: 178px;
        left: 48.16%;
    }
    #service .next-btn {
        bottom: 83px;
        left: 48.56%;
    }
    #feedback .feedback-text-slider .feedback-text-slick h4 {
        padding-top: 20px;
    }
    #feedback .feedback-text-slider .feedback-text-slick {
        padding-bottom: 20px;
    }
    #feedback .feedback-text-slider {
        padding-top: 288px;
    }
    #feedback .feedback-text-slider::after {
        top: 73%;
    }
    #feedback .fbtn1 {
        left: 102px;
    }
    #feedback .fbtn2 {
        left: 101px;
    }
    #pricing .pricing-plan .pricing-rate {
        left: 302px;
    }
    #team .team-slider {
        margin-bottom: 50px;
    }
    #team .team-slider .team-slider-social {
        padding-left: 80px;
    }
    #footer .footer-icon span {
        margin-top: 20px;
    }


 }

/* medium device responsive ends */

/* small device responsive start */

@media (min-width: 576px) and (max-width: 767.98px) { 

    .navbar button span{
        color: #fec600;
    }
    .navbar-light .navbar-toggler {
        color: #fec600 !important;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        margin-bottom: 11px;
    }
    .navbar .navbar-nav .nav-item{
        background-color: rgba(134, 60, 60, 0.8);
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::before {
        width: 0%;
    }
    .navbar .navbar-nav .nav-item .nav-link.active::before {
        width: 0%;
    }
    #banner {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
    #about {
        margin-bottom: 300px;
    }
    #about header {
        margin-bottom: -115px;
    }
    #about header p {
        padding-left: 30px;
        padding-right: 30px;
    }
    #about .about-main .circle-main {
        width: 130px;
        height: 130px;
    }
    #about .about-main .circle-main .circle-main-pro {
        margin: 6px;
    }
    #about .about-main .circle-main .circle-main-pro img {
        width: 100px;
        height: 115px;
    }
    #about .about-main .box-top {
        top: 159px;
        width: 150px;
        height: 120px;
    }
    #about .about-main .box-top::after {
        bottom: -26px;
        left: 52%;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-top h5 {
        font-size: 9px;
        padding-top: 10px;
    }
    #about .about-main .box-top p {
        padding: 0px 10px;
        font-size: 9px;
        line-height: 15px;
    }
    #about .about-main .box-top p::before {
        bottom: -11px;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-left {
        left: 22px !important;
        width: 150px;
        height: 120px;
        bottom: -128px;
        left: 50px;
        padding-right: 15px;
    }
    #about .about-main .box-left::after {
        right: -25px;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-left h5 {
        font-size: 9px;
        padding-top: 11px;
    }
    #about .about-main .box-left p {
        font-size: 9px;
        line-height: 11px;
    }
    #about .about-main .box-left p::before {
        right: -10px;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-right {
        width: 150px;
        height: 120px;
        right: 25px;
        padding-left: 15px;
        bottom: -128px;
    }
    #about .about-main .box-right h5 {
        font-size: 9px;
        padding-top: 8px;
    }
    #about .about-main .box-right p {
        font-size: 9px;
        line-height: 11px;
    }
    #about .about-main .box-right p::before {
        top: 43%;
        left: -8px;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-right::after {
        left: -22px;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-bottom {
        width: 150px;
        height: 120px;
        padding-top: 11px;
        bottom: -271px;
    }
    #about .about-main .box-bottom h5 {
        font-size: 9px;
        padding-top: 10px;
    }
    #about .about-main .box-bottom p {
        font-size: 9px;
        line-height: 15px;
    }
    #about .about-main .box-bottom p::before {
        top: -10px;
        left: 46%;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-bottom::after {
        top: -26px;
        left: 52%;
        width: 10px;
        height: 10px;
    }

    #portfolio {
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0% 100%);
    }
    #service::before {
        top: 195px;
        height: 500px;
    }
    #service .service-slider .service-item .web-text-reverse p {
        padding: 11px 30px;
        font-size: 9px;
    }
    #service .service-slider .service-item .web-text h5 {
        padding-top: 39px;
    }
    #service .service-slider .service-item .web-text-reverse p::after {
        right: -10px;
        width: 20px;
        height: 20px;
    }
    #service .service-slider .service-item .web-image img {
        padding-top: 18px;
        padding-left: 2px;
        transform: scale(0.8);
    }
    #service .service-slider .service-item .web-para-reverse h5 {
        padding-top: 46px;
        font-size: 18px;
    }
    #service .service-slider .service-item .web-para-reverse p::after {
        width: 20px;
        height: 20px;
        top: 51%;
        right: 37%;
    }
    body {
        font-size: 9px;
        line-height: 11px;
    }
    #feedback {
        clip-path: polygon(0% 7%, 100% 0, 100% 93%, 0% 100%);
    }
    #service .service-slider .service-item .web-para p {
        padding: 11px 11px;
        font-size: 9px;
    }
    #service .service-slider .service-item .web-para p::after {
        left: -10px;
        width: 20px;
        height: 20px;
    }
    #service .service-slider .service-item .web-para-reverse p {
        padding: 11px 11px;
    }
    #service .next-btn {
        bottom: 131px;
        left: 48.16%;
    }
    #service .prev-btn {
        top: 165px;
        left: 48.16%;
    }
    #team .team-slider {
        margin-bottom: 41px;
    }
    #team .team-slider .team-slider-social {
        padding-left: 36px;
    }
    #feedback .feedback-text-slider {
        padding-top: 294px;
    }
    #feedback .feedback-text-slider .feedback-text-slick {
        padding-bottom: 15px;
    }
    #feedback .feedback-text-slider .feedback-text-slick h4 {
        padding-top: 30px;
    }
    #feedback .feedback-text-slider .feedback-text-slick p {
        font-size: 11px;
    }
    body{
        line-height: 15px;
    }
    
    #pricing .pricing-plan .pricing-rate {
        left: 212px;
    }
    #footer .footer-icon span {
        margin-left: 109px;
        margin-top: 14px;
    }

 }

 @media (max-width: 767.98px) { 
    #feedback .fbtn1 {
        left: 103px;
    }
    #feedback .fbtn2 {
        left: 103px;
    }
 }

 /* @media (min-width: 576px) { 
     #feedback .fbtn1 {
    left: 98px;
}
    #feedback .fbtn2 {
    left: 97px;
}
} */


/* small device responsive ends */


/* xtra small device responsive start */

@media (min-width: 320px) and (max-width: 575.98px) { 

    .navbar button span{
        color: #fec600;
    }
    .navbar-light .navbar-toggler {
        color: #fec600 !important;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        margin-bottom: 11px;
    }
    .navbar .navbar-nav .nav-item{
        background-color: rgba(134, 60, 60, 0.8);
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::before {
        width: 0%;
    }
    .navbar .navbar-nav .nav-item .nav-link.active::before {
        width: 0%;
    }

    #banner .banner-slider .banner-item .banner-text h2 {
        font-size: 25px;
    }
    #banner .banner-slider .banner-item .banner-text h1{
        font-size: 35px;
    }
    #banner .banner-slider .banner-item .banner-text p{
        font-size: 11px;
    }
    #banner .banner-btn1{
        opacity: 0;
    }
    #banner .banner-btn2{
        opacity: 0;
    }
    #banner .banner-slider .banner-item .banner-text a {
        font-size: 11px;
        margin-bottom: 121px;
        padding: 9px 20px;
    }
    #about {
        margin-bottom: 299px;
    }
    #about header p {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: -120px;
    }
    #about .about-main .circle-main {
        width: 130px;
        height: 130px;
    }
    #about .about-main .circle-main .circle-main-pro {
        margin: 6px;
    }
    #about .about-main .circle-main .circle-main-pro img {
        width: 100px;
        height: 115px;
    }
    #about .about-main .box-top {
        top: 159px;
        width: 150px;
        height: 120px;
    }
    #about .about-main .box-top::after {
        bottom: -26px;
        left: 52%;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-top h5 {
        font-size: 9px;
        padding-top: 10px;
    }
    #about .about-main .box-top p {
        padding: 0px 10px;
        font-size: 9px;
        line-height: 15px;
    }
    #about .about-main .box-top p::before {
        bottom: -11px;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-left {
        left: 22px !important;
        width: 150px;
        height: 120px;
        bottom: -128px;
        left: 50px;
        padding-right: 15px;
    }
    #about .about-main .box-left::after {
        right: -25px;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-left h5 {
        font-size: 9px;
        padding-top: 11px;
    }
    #about .about-main .box-left p {
        font-size: 9px;
        line-height: 11px;
    }
    #about .about-main .box-left p::before {
        right: -10px;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-right {
        width: 150px;
        height: 120px;
        right: 25px;
        padding-left: 15px;
        bottom: -128px;
    }
    #about .about-main .box-right h5 {
        font-size: 9px;
        padding-top: 8px;
    }
    #about .about-main .box-right p {
        font-size: 9px;
        line-height: 11px;
    }
    #about .about-main .box-right p::before {
        top: 43%;
        left: -8px;
        width: 15px;
        height: 15px;
    }
    #about .about-main .box-right::after {
        left: -22px;
        width: 10px;
        height: 10px;
    }
    #about .about-main .box-bottom {
        width: 150px;
        height: 120px;
        padding-top: 11px;
        bottom: -271px;
    }
    #about .about-main .box-bottom h5 {
        font-size: 9px;
        padding-top: 10px;
    }
    #about .about-main .box-bottom p {
        font-size: 9px;
        line-height: 15px;
    }
    #about .about-main .box-bottom p::before {
        top: -10px;
        left: 46%;
        width: 20px;
        height: 20px;
    }
    #about .about-main .box-bottom::after {
        top: -26px;
        left: 52%;
        width: 10px;
        height: 10px;
    }
    #portfolio {
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0% 100%);
    }



 }
/* xtra small device responsive ends */






